$white: #fff;
$gray-1: #f0f2f4;
$gray-2: #dfe9e9;
$gray-3: #959f9f;
$gray-4: #0d1111;

$teal-1: #41d6c3;
$teal-2: #00b4a0;
$teal-3: #008571;

$purple-1: #ba8ff7;
$orange-1: #ffa573;

$console-color: #272822;
$snippet-menu: #454A4A;

