.btn {
  cursor: pointer;
  outline: none;

  padding: $base-spacing;
  display: inline-block;
  position: relative;
  transition: all 0.3s;

  border: 2px solid color("accent");
  background: transparent;

  color: color("accent");
  font-weight: 700;

  i, img {
    padding-right: $base-spacing;
  }
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.btn:active {
  top: 2px;
}

.btn:hover {
  color: $white;
  background: color("accent");
}

