input[type=text] {
  font-family: 'Source Code Pro', 'Source Sans Pro';
  font-size: 80%;
  padding: $base-spacing / 2;
  margin: $base-spacing / 2;

}
  .long {
    width: 450px;
  }

  .short {
    width: 40px;
  }

.label {
  color: $orange-1;
  font-size: 1em;
  font-weight: bold;
  padding-left: $base-spacing * 4;
  padding-right: $base-spacing;
}
