.container {
  flex: 0 1 auto;
  width: 1140px;
  align-self: center;
}

.row { display: flex; }

.column {
  display: flex;
  flex-flow: column;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}
