html {
  font-family: 'Helvetica Neue';

  h1, .title {
    font-size: $base-spacing * 1.8;
  }

  h2, .subtitle {
    font-size: $base-spacing * 1.5;
  }

  h3, .label {
    font-size: $base-spacing * 1.25;
    font-weight: bold;
  }

  h6, .caption {
    font-size: $base-spacing * 0.8;
    line-height: $base-spacing;
  }

  p {
    font-size: $base-spacing;
  }
}
