html {
  font-family: 'Helvetica Neue';

  h1 {
    font-size: 1.95em;
  }

  h2 {
    font-size: 1.56em;
  }

  h3, .title {
    font-size: 1.25em;
  }

  p {
    font-size: 1em;
  }

  .caption {
    font-size: 0.8em;
    line-height: 1em;
  }

  // .label {
  //   font-size: 0.8em;
  //   font-weight: bold;
  //   line-height: 1em;
  // }
}
